.navigation {
  margin-bottom: 5%;
  padding: 0;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.appbar {
  background-color: black;
  height: 13vh;
  width: 100%;
}

.ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 70%;
}

.li {
  display: inline;
  padding-left: 3%;
}

.link {
  padding-left: 3%;
  text-decoration: none;
  color: white;
}

@media (max-width: 767.98px) {
  .navigation {
    width: 100%;
    padding: 0;
  }
  .appbar {
    width: 100%;
  }

  .ul {
    display: none;
    padding-left: 0%;
    margin: 0;
  }
  .MuiAppBar-root {
    width: 100%;
  }
  .tool {
    width: 100%;
  }
}
