.not-found {
  background-image: url(https://freefrontend.com/assets/img/html-funny-404-pages/HTML-404-Error-Page.gif);
  background-size: cover;
  height: 100vh;

  text-align: center;
}

.button {
  width: 20%;
  margin-top: 10vh;
  color: black;
  height: 5vh;
  border-radius: 10px;
  padding: 0;
  border: none;
  background-color: white;
}
