.blog-con {
  display: flex;
  width: 100%;
}

.contain {
  margin-left: 2%;
  width: 70%;
  text-align: center;
}

.links {
  width: 25%;
  margin-top: 6%;
}

.map-link {
  margin-top: 2%;
}

.react-link {
  text-decoration: none;
  color: black;
}

@media (max-width: 767.98px) {
  .blog-con {
    flex-direction: column;
    width: 100%;
  }
  .contain {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .links {
    width: 100%;
  }
}
